/* All pages media querry are written here */

@media only screen and (min-width: 120px) and (max-width: 480px)  {

    /*----------- Header -------------------  */
   
    .main-div{
        display: none !important;
    }   
    .container-header-data{
        display: flex;
        flex-direction: column !important;
        justify-content:center;
        align-items: center;
    }  
    .header-data{
    text-decoration: none;
    color: #fff;
    padding: 0 0.7rem;
    font-size: 22px !important;
    font-weight: 600;
    margin: 1rem 0;
    border: none !important;
    } 
    .small-logo{
        font-size: 1.2rem;
    }
    .top-header-div{
        display: flex;
        justify-content: start;
        height: 45px;
    }
    .search-icon{
        position: absolute;
        left: 70%;
        top: 4.4rem;
        cursor: pointer;
    }
    .badgeData {
        position: absolute;
        right: 0.3rem;
        top: 0.5rem;
        color: white;
        background-color: red;
    }
    .search-field{
        width: 70%;
    }
    .user-icon1{
        display: flex;
        justify-content: center !important;
        margin-left: -0.4rem;
    }
    .user-icon{
        /* width: 25px !important; */
        display: none;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
    }
    .small-screen{
        display: none;
    }
    .largeScreen{
        display: none;
    }
    .main-card-div {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }


    /* ----------------- View Page  ------------------------ */

    .wishlist-btn1{
        padding: 0.4rem 1.1rem;
        background-color: #2874F0;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        border: none;
        outline: none;
    }
    .fa-right-long{
        display: none;
    }

    div#viewpage-img{
        order: 1;
        }
        div#viewpage-data{
            order:2;
        }

        .small-screen-cart-container{
            display: block !important;
        }
        .cart-body-main-container{
            display: none;
        }
        .card-sidebar{
            margin: 0px !important;
        }

        .card-type{
            display: flex;
            justify-content: space-around !important;
        }

        .quantity-card {
            display: flex;
            justify-content: start; 
            margin: 0.4rem 0;
        }
        .item-ProductName{
            margin-top: 1rem !important;
            line-height: 40px !important;
            font-size: 15px !important;
            font-weight: 500;
        }
        .item-description{
            font-size: 13px;
        }
        .quantity-value{
            width: 25px !important;
            height: 25px !important;
        }
        .table-img-data{
            width: 80px !important;
        }
        .item-price{
            display:flex ;
            margin-top: -2rem;
        }

        .fa-bars {
            font-size: 20px !important;
            color: #fff !important;
        }

        /* -------------------------- wislist -------------------- */

        .wish-div-main-bg-container{
            display: none;
        }
        .small-wish-div-main{
            display: block !important;
        }

        /* --------------------- Wishlist   -------------------------------------------- */
        .wishlist-img{
            width: 80px;
            height: 90px;
        }
        .small-scr-wish-images{
            margin-left: -1.4rem !important;
        }
        .wishlist-data{
            font-size: 15px !important;
        }
        .wish-price{
            font-size: 13px;
        }
        .rating-value-wish{
            font-size: 12px !important;
        }
        .wish-description{
            font-size: 13px !important;
        }
        .wish-operation{
      display: flex;
    justify-content: flex-end !important;
    align-items: center;
    margin-top: 1rem !important;
    flex-direction: row !important;
        }
        .fa-trash{
        font-size: 16px !important;
        }
        .wish-small-container{
            margin-top: 1rem;
        }
        .wish-heading {
            font-size: 1.2rem !important;
        }

        /*--------------- search page ------------------  */
.search-sort-div{
    width: 100%;
    border: none !important;
}
.sort-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar-toggler{
    font-size: 16px !important;
}
.logos{
    display: flex;
    justify-content: center;
}
.heart-small{
    margin-left: -1.3rem !important;
}
}


/* -------------------- Media query (min-width: 481px) and (max-width: 768px) ---------------  */

@media only screen and (min-width: 481px) and (max-width: 768px)  {

    /*-------------- Header -------------------  */

    .main-div{
        display: none !important;
    }   
    .container-header-data{
        display: flex;
        flex-direction: column !important;
        justify-content:center;
        align-items: center;
    }  
    .header-data{
    text-decoration: none;
    color: #fff;
    padding: 0 0.7rem;
    font-size: 22px !important;
    font-weight: 600;
    margin: 1rem 0;
    border: none !important;

    } 
    .small-logo{
        font-size: 1.6rem;
    }
    .top-header-div{
        display: flex;
        justify-content: start;
        height: 45px;
    }
    .search-icon{
        position: absolute;
        left: 74%;
        top: 4.6rem;
        cursor: pointer;
    }
    .badgeData {
        position: absolute;
        right: 0.2rem;
        top: 0.5rem;
        color: white;
        background-color: red;
    }
    .user-icon{
        display: none;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.1em;
        height: 1.1em;
        vertical-align: middle;
    }
    .small-screen{
        display: none;
    }
    .largeScreen{
        display: none;
    }

    /* -------------- View Page  -------------------- */

    .wishlist-btn1{
        padding: 0.6rem 2.1rem;
        background-color: #2874F0;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        border: none;
        outline: none;
    }

div#viewpage-img{
    order: 1;
    }
    div#viewpage-data{
        order:2;
    }

    .small-screen-cart-container{
        display: block !important;
    }
    .cart-body-main-container{
        display: none;
    }
    .card-sidebar{
        margin: 0px !important;
    }
    .card-type{
        display: flex;
        justify-content: space-between ;
    }

    .quantity-card {
        display: flex;
        justify-content: start; 
        margin: 0.4rem 0;
    }
    .item-ProductName{
        line-height: 40px !important;
        font-size: 15px;
        font-weight: 500;
    }
    .quantity-value{
        width: 25px !important;
        height: 27px !important;
    }

    .fa-bars {
        font-size: 24px !important;
        color: #fff !important;
    }


.main-wish-container-row{
    margin: 0.6rem 0;
}
.wishlist-img{
    width: 100px;
}
.wish-data{
    margin-left: 1rem !important;
}

/* --------------  Wishlist page ------------- */

.wish-heading{
    font-size: 1.2rem;
}
.main-wish-container-row{
    margin: 0.6rem 0 !important;
}

.wishlist-data{
    font-size: 16px !important;
}
.wish-description{
    font-size: 13px !important;
}
.wish-price{
    font-size: 14px !important;
}
.fa-trash{
    font-size: 16px !important;
    margin-left: -4px;
}
.rating-value-wish{
    font-size: 12px !important;
}
.wishlist-img{
    width: 80px;
}
.wish-data{
    margin-left: 1rem !important;
}

/*--------------- search page ------------------  */
.search-sort-div{
    width: 100%;
    border: none !important;
}
.sort-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.small-logo{
    font-size: 20px;
    /* margin-left: -1.6rem; */
}
.small-logo:hover{
    color: #fff;
}
.small-logo:active{
    color: #fff;
}
.navbar-toggler{
    font-size: 20px !important;
}
}


/* -------------------- Media query (min-width: 768px)  and (max-width: 992px) ---------------  */

@media only screen and (min-width: 769px)  and (max-width: 992px)  {

    /*------------- Header ----------------  */
    
.main-div{
    display: none !important;
}
.header-data{
    text-decoration: none;
    color: #fff;
    padding: 0 0.7rem;
    font-size: 13px !important;
    border: none !important;
    font-weight: 500;
}   
.top-header-div{
    display: flex;
    justify-content: start;
    height: 45px;
}
.search-icon{
    position: absolute;
    left: 76%;
    top: 5rem;
    cursor: pointer;
}
.user-icon{
    /* width: 25px !important; */
    display: none;
}
.badgeData {
    position: absolute;
    right: 0.2rem;
    top: 0.5rem;
    color: white;
    background-color: red;
}
.smaller-screen{
    display: block;
}   
.small-screen{
    display: none;
}
.largeScreen{
    display: none;
}

.menu-icon {
    color: white;
    cursor: pointer;
    display: none;
}

.container-header-data, .small-scr-data{
    display: flex;
    justify-content: center !important;
    flex-direction: row !important;
    margin: 0 -1rem;
}
list{
    margin: 0 -0.6rem !important;
}
/* ------------- View Page  --------------- */
.wishlist-btn1{
    padding: 0.6rem 1rem;
    background-color: #2874F0;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    outline: none;
}
.fa-right-long{
    display: none;
}

/* --------------------cart --------------- */
.small-screen-cart-container{
    display: block !important;
}
.cart-body-main-container{
    display: none;
}
.card-sidebar{
    margin: 0px !important;
}
.card-type{
    display: flex;
    justify-content: space-between ;
}
.card-type{
    margin-top: 1.4rem !important;
}

.quantity-card {
    display: flex;
    justify-content: start; 
    margin: 0.4rem 0;
}

.fa-bars {
    font-size: 26px !important;
    color: #fff !important;
}
.container-header-data{
    margin-left: -2rem;
}

/* --------------  Wishlist page ------------- */

.main-wish-container-row{
    margin: 0.6rem 0;
}
.wishlist-img{
    width: 100px;
}
.wish-data{
    margin-left: 1rem !important;
}
/* ------------ search page ------------ */
.search-sort-div{
    width: 100%;
    border: none !important;
}
.sort-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.small-logo{
    font-size: 24px;
}


}

/* -------------------- Media query (min-width: 993px) and (max-width: 1200px) ---------------  */


@media only screen and (min-width: 993px) and (max-width: 1200px)  {

/*--------------- Header ------------------  */
.main-div1{
    display: none;
}
.header-data{
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
    font-size: 15px !important;
    font-weight: 500;
    border: none !important;
}   


.small-screen{
    display: block;
}
.largeScreen{
    display: none;
}

/* ------------------ View Page  ----------------- */

.wishlist-btn1{
    padding: 0.5rem 1rem;
    background-color: #2874F0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    outline: none;
}

/* ----------- cart ------------------------- */
.table-data{
	flex: 0 0 62% !important;
	max-width: 64% !important;
}
.last-img{
    width: 30px !important;
}
.card-type{
    margin-top: 1.4rem !important;
}
.table-img-data{
    width: 75px !important;
}
}


/* -------------------- Media query (min-width: 1201px) ---------------  */


@media only screen and  (min-width: 1201px)  {
    .main-div1{
        display: none;
    }
    .header-data{
        text-decoration: none;
        color: #fff;
        padding: 0 1.2rem;
        font-size: 16px !important;
        font-weight: 500;
        border: none !important;
    }    
}